<form [formGroup]="statesGroup" class="w-50">
  <div
    formArrayName="states"
    *ngFor="let state of statesArray.controls; let i = index"
  >
    <app-inputs [formControlName]="i" [data]="statesComplex"></app-inputs>
    <button class="btn btn-danger" (click)="deleteRow(i)">delete</button>
  </div>
</form>
<button class="btn btn-success" (click)="addRow()">add</button>

<pre>{{ statesGroup.value | json }}</pre>
